html,
body {
    padding: 0px;

    margin: 0px;
    background-color: #fffffd;
}

#navbar {
    height: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0D0D55;
    padding: 10px;
}

#logo {
    height: 90px;
    position: relative;
    margin: 5px;
    padding: auto;
}

#logofoot {
   height: 50px;
    position: relative;
    margin: 10px;
    margin-left: 25px;
    padding: auto;
}


.page {
    display: flex;
    flex-direction: column;
}

.button {
    border: 2px solid black;
    border-radius: 5px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 2px;
}



.title-text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    color: black;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.text {
    font-family: "Montserrat", sans-serif;
    /* font-optical-sizing: auto; */
    font-style: normal;
    margin: 0px;
    padding: 0px;
    color: black;
}

.dropbtn {
    background-color: #00000000;
    /* width: 100px; */
    height: 100%;
    color: black;
    font-size: 36px;
    border: none;
    position: relative;
    margin: 0px;
    padding: 0px;
    align-items: center;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: 25px;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    right: 0;
    top: 0;
    width: 30px;
    overflow: visible;
    align-items: end;
    height: 100%
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    font-family: "Montserrat", sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    z-index: 10;
    margin-top: 0px;
    position: relative;
}

#index-landing {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
#index-landing-sub{
    display: flex;
    flex-direction: row;
    margin: 25px;

}

#index-titles {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    padding: 1px;

}


#index-title {
    font-family: "Caprasimo", serif;
    font-size: xx-large;
    color: black;
    position: relative;
    font-weight: 400;
    font-style: normal;
    padding: 2px 0px;
}


#index-subtitle {
    font-family: "Caprasimo", serif;
    position: relative;
    color: #f5f5f5;
    background-color: black;
    padding: 2px 10px;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    margin-bottom: 25px;
    margin-right: auto;

}

/* ------------------------------------------------ */
#index-about {
    width: 100vw;
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: end;
}

#index-about-box {
    width: 90%;
    height: auto;
    background-color: #bbf65d;
    position: relative;
  display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 50px 25px;
    right: 0;  
}

#about-title {
    font-family: "Caprasimo", serif;
    font-size: x-large;
    margin: 5px 0px;
}

#index-image {
    position: relative;
    width: 30%;
    margin: 0 auto;
}

#index-real-box {
    width: 70%;
    border-radius: 10px;
    margin-bottom:10px;
    /* margin: 25px 0px; */
}

#index-real-title {
    font-family: "Caprasimo", serif;
    color: black;
    font-size: xx-large;
    margin: 10px 0px;
}
#index-real-text {
    font-size: large;
    margin-right:75px
}

#index-words {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom:0px;
}

#index-story-text {
    font-size: 22px;
    width: 60%;

}


#index-story-title {
    font-family: "Caprasimo", serif;
    font-size: x-large;
}

#index-story-subtitle{
    padding:25px 50px;
    font-size: large;

}

#index-story-titles{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#squigboxes {
    margin: 25px;

}

.squigbox {
    width: 30%;
}

#billboard{
    position: relative;
    bottom: 0;
    /* margin-bottom:-25px; */
    width: 100%;
}

#billboard-box{
    display: flex;
    /* flex-direction: row; */

}

#billboard-sub{
    display: flex;
    width:30%;
    justify-content: baseline;
    align-items: end;
}
/* -------------------- */

#index-contact {
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #bbf65d;
    border-radius: 10px;
    margin:  25px;
    margin-top:-10px;
}

#index-contact-box {
    width: 80vw;
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 25px;
}

#homeform {
    width: 20vw;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding: 0px 25px;

}

#contact-title,
#contact-text {
    color: black;
}

#contact-butt {
    font-family: "Caprasimo", serif;
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #bbf65d;
    border: 1px solid black;
    right: 0;
    font-size: 75px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}



/* --------- */

#about-butt {
    background-color: #bbf65d;
    width: 100px;
    position: relative;
    margin: 25px auto;
    padding: 5px;
}


#story-butt {
    background-color: #D9F201;
    width: 100px;
}

#footer {
    position: relative;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


#footer-links,
#footer-text {
    float: right;
    margin: 10px;
}

.footer-link {
    text-decoration: none;
    color: black;
}


#service-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    background-color: #bbf65d;
    border: 3px solid black;
    border-radius: 10px;
    margin: 25px;


}

#landing-info-checklist {
    text-align: left;
    padding-left: 0px;
    list-style-type: none;
    justify-content: center;
}


.landing-info-check {
    height: 25px;
    padding: 5px;

}

.check {
    display: flex;
    align-items: center;
}

#landing-info-subtitle {
    font-family: "Montserrat", sans-serif;
    color: black;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
}

#landing-info-title {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-size: 36px;
    padding: 15px;
    text-align: center;

}
#contact-page-butt {
    position: relative;
    background-color: #bbf65d;
    border: 2px solid black;
    border-radius:5px;
    padding:5px;
    font-size: medium;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    color: black;
    text-decoration: none;
}

#contact-form {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 25px;
    padding: 0 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

#names {
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.inpN,
.inp {
    margin: 3px;
    padding: 8px;
    border: transparent;
    -webkit-box-shadow: inset 0px 0px 2px #c1c1c1;

}

.inpN {
    width: 50%;
}
.inp{
    width: 100%;
}

#about {
    height: 80vh;
}