html,
body {
    padding: 0px;
    margin: 0px;
    background-color: #F5F5F5;
}

#navbar {
    background-color: #C6E345;
    width: 100vw;
    height: 100px;
    /* position: fixed; */
    padding:0px; 
    margin:0px;
    
}

.page{
    display: flex;
    flex-direction: column;
}

.button{
    border: 2px solid black;
    border-radius: 5px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    margin-top: 25px;
    
}

#index-landing {
    /* width: 100vw; */
    height: 50vh;
    background-color: #D493E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom:3px solid black;
}

.title-text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    color:#2C5DFF;
    font-style: normal;
    margin: 0px;
    padding:0px;
}

.text{
    font-family: "Montserrat", sans-serif;
    /* font-optical-sizing: auto; */
    font-style: normal;
    margin: 0px;
    padding:0px;
}

#index-title{
    font-size: auto;
    color: black;
}

#index-subtitle{
    font-size: auto;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    color: black;

}

#index-about{
    /* width:100vw; */
    position: relative;
    /* height:450px; */
}

#index-about-box{
    width:60%;
    height: auto;
    background-color: #C6E345;
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    padding: 50px 25px;

}

#about-title{
    margin: 5px 0px;
    /* font-size: 28px; */
}

#index-real{
    /* width:100vw; */
    height:auto;
    background-color: #F7A659;
    position: relative;
    display: flex;
    align-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;

    
}


#index-real-box{
    width:80%;
    background-color: #86D9D7 ;
    border-radius: 20px;
    border: 3px solid black;
    padding: 25px;
    margin: 25px auto;
    
}

#index-real-title{
    color:#2C5DFF;
    font-size: 36px;

}

#index-words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:25px;
}

#words-box{
    background-color: #C6E345;
    border: 3px solid black;
    border-radius: 20px;
    padding:25px;
    margin-top: 200px;
    
}

#index-story{
    background-color: #86D9D7;
    padding:25px;
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#index-story-box{
    background-color: #D493E6;
    border: 3px solid black;
    border-radius: 20px;
    padding:25px;
}
#index-story-title{
    font-size:28px;
}

#index-contact{
    /* width:100vw; */
    position: relative;
    /* height:450px; */
}

#index-contact-box{
    width:40%;
    height: auto;
    background-color: #C6E345;
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    padding: 50px 25px;

}

#about-butt{
    background-color: #D493E6;
    width: 100px;
}

#words-butt, #contact-butt{
background-color: #F7A659;
}
#story-butt{
    background-color: #C6E345;
}